*{
  margin: 0;
  padding: 0;
}
html,body{
  font-family: 'Work Sans', sans-serif;
}

/* For all button i keep the styles separate */
.btn-primary{
  background-color: white;
  color: #636e72;
  padding: 18px 20px;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
}

main{
  max-width: 1200px;
  margin: 0 auto;
}

section{
  margin-top: 130px;
}


/* header section style-------------- */
/* header section style-------------- */
/* header section style-------------- */

header{
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.header-section{
  width: 600px;
  height: 300px;
  position: absolute;
  right: 15%;
  top: 30%;
  text-align: right;
  color: #636e72;
}
.header-section>*{
  margin-bottom: 28px;
}

.header-section h1{
  font-weight: 700;
  font-size: 40px;
}

.header-section p{
  font-size: 16px;
  line-height: 26px;
}

.btn-primary:hover{
  background-color: #636e72;
  color: white;
  transition: 0.3s ease;
  transform: scale(1.1);
}

/* motivation section starts here---------- */
/* motivation section starts here---------- */
/* motivation section starts here---------- */

.moti-section-container{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.moti-descriction{
  width: 400px;
}

.moti-descriction h2{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
}

.moti-descriction p{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}

.moti-descriction ul{
  list-style-type: none;
}

.moti-descriction ul li{
  margin-bottom: 5px;
}
.moti-descriction ul i{
  color: #2ecc71;
}

/* hover for list item icon "extra try!!!" */
.moti-descriction ul li:hover i{
  transform: scale(1.3);
  transition: 0.2s ease;
  color: #636e72;
}

/* plan-section starts here---------------- */
/* plan-section starts here---------------- */
/* plan-section starts here---------------- */


.plan-section h2{
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.plan-container{
  display: flex;
  justify-content: space-between;
  gap: 0px;
}


.plan-card{
  text-align: center;
  border: 2px solid transparent;
  min-width: 275px;
  padding: 10px;
}
.plan-card img{
  margin-bottom: 16px;
}

.plan-card h3{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
 }

.plan-card p{
  font-weight: 500;
  font-size: 25px;
 }

 .plan-card:hover{
  border: 2px solid #636e72;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 }

 /* call-now section style starts here------------ */
 /* call-now section style starts here------------ */
 /* call-now section style starts here------------ */

.call-now-section{
  background-image: linear-gradient(to right, gray, transparent), url(../images/watch.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 100%;
  border-radius: 10px;
  max-width: 100%;
  height: 300px;
}

.call-now-container{
  padding: 100px;
}
.call-now-container h2{
  margin-bottom: 20px;
  max-width: 280px;
}

/* form section style starts here-------------- */
/* form section style starts here-------------- */
/* form section style starts here-------------- */

.form{
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  border-radius: 10px;
  background-image: url(../images/banner/banner1.png);
}

.form h2{
  padding: 30px 0;
}

.form-section input[type="text"],input[type="email"],input[type="password"] ,textarea{
  width: 50%;
  margin-bottom: 24px;
  border: 2px solid #636e72;
  padding: 18px 30px;
}

textarea{
  height: 140px;
}

.submit{
  border: 2px solid #636e72;
  margin-bottom: 50px;
}

/* footer-container style starts here--------- */
/* footer-container style starts here--------- */
/* footer-container style starts here--------- */

.footer-container{
  background-color: black;
  height: 70vh;
  margin-top: 130px;
  color: white;
  display: flex;
  justify-content: space-around;
  gap: 90px;
}

.footer-container>*{
  width: 35%;
  padding-top:100px ;
}

.left-footer h2{
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 16px;
}

.left-footer p{
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
}

.icons{
  display: flex;
  gap: 10px;
}

.right-footer>*{
  margin-bottom: 16px;
}

.right-footer input{
  border-radius: 5px;
}

.right-footer h2{
  font-weight: 600;
  font-size: 25px;
}

